<% content_for :title do %>
  Avivas - Sport Clothing Store
<% end %>

<% content_for :header do %>
  <%= render "shared/navbar" %>
<% end %>

<section class="mx-auto mt-20">
  <h1 class="font-bold text-[4rem]">
    Ropa simple, vida compleja
    <span>
      <svg class="w-full max-w-44 h-auto" width="1994" height="253" viewBox="0 0 1994 253" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M38 215C369.5 38 889 38 889 38C889 38 1608.5 38 1956.5 215" stroke="#FFCE00" stroke-width="75" stroke-linecap="round"/>
      </svg>
    </span>
  </h1>
</section>
