<% content_for :page_title do %>
  Dashboard
<% end %>

<section class="hero bg-base-100 min-h-screen">
  <div class="hero-content text-center -mt-[7.5rem]">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Aviva's Administration</h1>
      <p class="py-6">
        What are you doing today?
      </p>
    </div>
  </div>
</section>