<p>Welcome!</p>

===============================================

<p>Your account has been created. Here are your login details:</p>
<p>Username: <%= @user.email %></p>
<p>Temporary Password: <%= @password %></p>
<p>Please change your password upon first login.</p>
<p>Ensure you safeguard this information and review the security settings of your account regularly.</p>