<tr>
  <td>

  </td>
  <td>
    <% invoice.transaction_date %>
    <div>
      <div class="font-bold"><%#= @invoice.transaction_date %></div>
      <div class="text-sm opacity-50"></div>
    </div>
  </td>
  <td>
    <%= invoice.total_price %>
  </td>

  <td>
    <span class="badge badge-secondary p-4 rounded-lg badge-sm">
      <%= invoice.status %>
    </span>
  </td>
  <td>
    <%= invoice.transaction_date %>
  </td>
  <th>
    <%= link_to "details", admin_invoice_path(invoice), class: "btn btn-ghost btn-md text-xs" %>
  </th>
</tr>