<div class="carousel w-full">
  <% if images.present? %>
    <% images.each_with_index do | image, index| %>
      <div id="slide<%= index %>" class="carousel-item relative w-full">
        <picture class="max-w-md">
          <%= image_tag image %>
        </picture>
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <a href="#<% index - 1 %>" class="btn btn-circle <% "hidden" if index < 1 %>">❮</a>
          <a href="#<% index + 1 %>" class="btn btn-circle <% "hidden" if index == images.count - 1 %>">❯</a>
        </div>
      </div>
    <% end %>
  <% else %>
    <picture class="max-w-md">
      <%= image_tag default_image, class: "w-full" %>
    </picture>
  <% end %>
</div>
