<footer class="footer footer-center bg-base-100 p-10">
  <aside>
    <a class="p-2" href="#">
      <%= image_tag 'logos/horizontal.svg', class: 'site-logo-white', alt: 'Site Logo', size: 125 %>
      <%= image_tag 'logos/horizontal-black.svg', class: 'site-logo-black', alt: 'Site Logo', size: 125, style: "display:none"%>
    </a>
    <p class="font-bold text-lg">
      Avivas Clothing Store
      <br />
    </p>
    <p>Copyright © <%= Date.today.year %> - All right reserved</p>
  </aside>
</footer>