<div class="navbar px-3">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="p-2" href="#">
      <%= image_tag 'logos/horizontal.svg', id: 'site-logo-white', alt: 'Site Logo', size: 125 %>
      <%= image_tag 'logos/horizontal-black.svg', id: 'site-logo-black', alt: 'Site Logo', size: 125, style: "display:none"%>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a>Hombre</a></li>
      <li>
        <details>
          <summary>Parent</summary>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </details>
      </li>
      <li><a>Mujer</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <button id="theme-toggle" data-toggle-theme="black,lofi" data-act-class="ACTIVECLASS" class="btn btn-ghost btn-circle">
      <i id="light-icon" class="fa-solid fa-sun text-2xl" style="display: none;"></i>
      <i id="dark-icon" class="fa-solid fa-moon text-2xl"></i>
    </button>
  </div>
</div>