<button id="theme-toggle" data-toggle-theme="black,lofi" data-act-class="ACTIVECLASS" class="btn btn-ghost btn-circle">
  <i id="light-icon" class="fa-solid fa-sun text-2xl" style="display: none;"></i>
  <i id="dark-icon" class="fa-solid fa-moon text-2xl"></i>
</button>