<tr>
  <td>
    <div class="flex items-center gap-3">
      <div class="avatar">
        <div class="mask mask-squircle h-12 w-12">
          <img
            src="https://img.daisyui.com/images/profile/demo/2@94.webp"
            alt="Avatar Tailwind CSS Component" />
        </div>
      </div>
      <div>
        <div class="font-bold"><%= user.username %></div>
        <div class="text-sm opacity-50">United States</div>
      </div>
    </div>
  </td>
  <td>
    <%= user.email %>
    <br />
    <span class="badge badge-ghost badge-sm">Desktop Support Technician</span>
  </td>
  <td>    <%= user.joined_at %>
  </td>
  <th>
    <%= link_to "details", [:admin, user], class: "btn btn-ghost btn-md text-xs" %>
  </th>
</tr>