<table class="table">
  <!-- head -->
  <thead>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Status</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% users.each do |user| %>

    <%= render partial: "admin/users/user_row", locals: { user: user } %>

  <% end %>
  </tbody>
  <!-- foot -->
  <tfoot>
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Status</th>
    <th></th>
  </tr>
  </tfoot>
</table>