<% content_for :title, "Adding User" %>

<section class="w-full">
  <header class="flex justify-between">
    <h1 class="font-bold text-4xl">New user</h1>
    <%= link_to admin_users_path, class: "btn btn-ghost" do %>
      <i class="fas fa-arrow-left"></i> Back to users
    <% end %>
  </header>

  <article class="max-w-lg mx-auto">
    <%= render "form", user: @user %>
  </article>

</section>
