<% if errors.any? %>
  <div id="error_explanation" class="alert alert-error">
    <div>
      <span><%= pluralize(errors.count, "error") %> prohibited this user from being saved:</span>
      <ul>
        <% errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>